body {
    background: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

#console {
    position: relative;
    width: 404px;
    height: 302px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.screen {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
}

.sprite {
    position: absolute;
    padding: 0px;
    margin: 0px;
}